@model HomeViewModel


<!-- Auction section starts -->
<section id="Auctions">
    <div class="container-fluid">
        <div class="section-bottom-border">
            <div class="part-one">
                <!-- top part starts-->
                <div class="top">
                    <div class="top-left d-flex">
                        <div class="section-title">
                            <div class="wrapper">
                                <div class="dropdown">
                                    <button class="auction-toggle btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                        Auctions
                                        <i class="bi bi-chevron-down"></i>
                                    </button>
                                    <ul class="dropdown-menu auction-menu" aria-labelledby="dropdownMenuButton1">
                                        <li class="">
                                            <a class="dropdown-item auct-item" href="/home/showpastresults">Past results</a>
                                            <i class="fa-solid fa-check d-none"></i>
                                        </li>
                                        <li class="clicked">
                                            <a class="dropdown-item auct-item" href="/">Live auctions</a>
                                            <i class="fa-solid fa-check"></i>
                                        </li>
                                    </ul>
                                </div>
                                </ul>
                            </div>
                        </div>
                        <ul class="d-flex dropdowns-ul gap-2">
                            <!-- Years dropdown starts -->
                            <li>
                                <div class="dropdown">
                                    <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                        <div class="d-flex align-items-center gap-2">
                                            Years
                                            <i style="font-size:12px" class="fa-solid fa-chevron-down"></i>
                                        </div>
                                    </button>
                                    <div class="dropdown-menu mainDrop" aria-labelledby="dropdownMenuButton1" style="padding: 10px 0px">
                                        <div class="dropdown-wrapper d-flex align-items-center justify-content-center gap-2" style="padding: 10px 20px; width: 198px;">
                                            <div class="d-flex align-items-start">
                                                <div class="form-group">
                                                    <select name="" id="" class="form-control">
                                                        @foreach (var item in Model.years)
                                                        {
                                                            <option value="">@item.Years</option>
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                            <span class="interval" style="color: rgba(0, 0, 0, 0.267);">To</span>
                                            <div class="d-flex align-items-start">
                                                <div class="form-group">
                                                    <select name="" id="" class="form-control">
                                                        @foreach (var item in Model.years)
                                                        {
                                                            <option value="">@item.Years</option>
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </li>
                            <!-- Years dropdown ends -->
                            <!-- Transmission dropdown starts -->
                            <li>
                                <div class="dropdown">
                                    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                        <div class="d-flex align-items-center gap-2">
                                            Transmission
                                            <i style="font-size:12px" class="fa-solid fa-chevron-down"></i>
                                        </div>
                                    </button>
                                    <ul class="dropdown-menu mainDrop" aria-labelledby="dropdownMenuButton1">
                                        <li><a class="dropdown-item" href="#">All</a></li>
                                        @foreach (var item in Model.transmissions)
                                        {
                                            <li><a class="dropdown-item" href="#">@item.Name</a></li>
                                        }
                                    </ul>
                                </div>
                            </li>
                            <!-- Transmission dropdown ends -->
                            <!-- Body Style dropdown starts-->
                            <li>
                                <div class="dropdown">
                                    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                        <div class="d-flex align-items-center gap-2">
                                            Body Style
                                            <i style="font-size:12px" class="fa-solid fa-chevron-down"></i>
                                        </div>
                                    </button>
                                    <ul class="dropdown-menu mainDrop" aria-labelledby="dropdownMenuButton1">
                                        <li><a class="dropdown-item" href="#">All</a></li>
                                        @foreach (var item in Model.bodyStyles)
                                        {
                                            <li><a class="dropdown-item" href="#">@item.Name</a></li>
                                        }
                                    </ul>
                                </div>
                            </li>
                            <!-- Body Style dropdown ends  -->
                        </ul>
                    </div>

                    <ul class="auction-filter d-flex gap-3">
                        <li><a data-target="ending-soon" class="selected">Ending soon</a></li>
                        <li><a data-target="newly-listed">Newly listed</a></li>
                        <li><a data-target="lowest-mileage">Lowest mileage</a></li>
                    </ul>
                </div>
                <!-- top part ends -->
                <!-- car items starts -->
                <div class="row g-4">
                    <partial name="_CarPartial" />
                </div>
                <!-- car items ends -->

                <div class="past-auctions text-center">
                    <a asp-action="showpastresults" asp-controller="home" class="btn view-auction">View auction results</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Auction section ends -->
<!-- Why Us? information etc. starts -->
<section id="about-us">
    <div class="container-fluid">
        <div class="information-wrapper d-flex align-items-start gap-4">
            <div class="d-flex gap-1 flex-column align-items-start">
                <span>About Us</span>
                <p class="about-content">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo ipsum porro natus dolores aiores repellendus? Perspiciatis quam corporis aliquam incidunt optio quidem vitae illo obcaecati ex? Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, illo? Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio laboriosam tempora voluptas modi minus suscipit sint quo dolores maxime iusto.
                </p>
            </div>
            <div class="form-group d-flex gap-2 flex-column align-items-start">
                <span>Get the Daily Email</span>
                <input type="email" placeholder="Email address" class="form-control">
                <button type="button" class="btn">Subscribe</button>
            </div>
        </div>
    </div>
</section>
    <!-- Why Us? information etc. ends -->
    @section NewListed{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        //auction selection

        //$(".auction-menu li").click(function() {
        //    $(".auction-menu li").removeClass("clicked");
        //    $(".auction-menu li i").addClass("d-none");
        //    if (!$(this).hasClass("clicked")) {
        //        $(this).addClass("clicked");
        //        $(".clicked i").removeClass("d-none");
        //    }
        //});




        //filter selection
        $(".auction-filter li a").click(function() {
            $(".auction-filter li a").removeClass("selected");
            $(this).addClass("selected");
        });


        //newly listed items to show up
        $("[data-target=newly-listed]").click(function() {
            console.log("newlyListed")
            $.ajax({
                url: "/home/NewListed",
                method: "GET",
                success: function(res) {
                    $(".row.g-4").html("");
                    $(".row.g-4").append(res);
                }
            });
        });

        //ending soon items to show up
        $("[data-target=ending-soon]").click(function() {
            console.log("endingSoon")
            $.ajax({
                url: "/home/EndingSoon",
                method: "GET",
                success: function(res) {
                    $(".row.g-4").html("");
                    $(".row.g-4").append(res);
                }
            });
        });

        //lowest mileage items to show up
        $("[data-target=lowest-mileage]").click(function() {
            console.log("lowestMileage")
            $.ajax({
                url: "/home/LowestMileage",
                method: "GET",
                success: function(res) {
                    $(".row.g-4").html("");
                    $(".row.g-4").append(res);
                }
            });
        });
    </script>
}



    @section homepageAutction{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    @foreach (Car item in @Model.Cars)
    {
        @if (!item.Status) continue;
        <script>
            console.log(`@item.EndTime`);
            function countdown() {
                let countDate = new Date(`@item.EndTime.ToString("MMMM dd yyy hh:mm:ss tt")`).getTime();
                let now = new Date().getTime();
                let gap = countDate - now;

                let second = 1000; //ms
                let minute = second * 60;
                let hour = minute * 60;
                let day = hour * 24;

                let textDay = Math.round(gap / day);
                let textHour = Math.floor((gap / hour));
                let textMinute = Math.floor((gap % hour) / minute);
                let textSecond = Math.floor((gap % minute) / second);

                if (textHour <= 0 && textMinute <= 0 && textSecond <= 0) {
                    $("[data-end-time=@item.Id]").css("background-color", "red");
                    $("[id=@item.Id]").text("waiting...");
                    $.ajax({
                        url: "/home/ExpireAuction",
                        type: "Post",
                        dataType: "json",
                        data: { status: false, id: @item.Id },
                        success: function() {
                            console.log("asd");
                        }
                    });
                }
                else {
                    if (textHour <= 6) $("[data-end-time=@item.Id]").css("background-color", "red");
                    if (textHour < 24) $("[id=@item.Id]").text(`${textHour}:${textMinute}:${textSecond}`);
                    else if (textHour > 23) {
                        if (textDay == 1) $("[id=@item.Id]").text(`${textDay} Day`);
                        else $("[id=@item.Id]").text(`${textDay} Days`);
                    }
                }
            }
            setInterval(countdown, 1000);
        </script>
    }
}